<body style = "background: url(http://i.imgur.com/338zh3J.png) no-repeat center center fixed; width: 100%; height: auto; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">


	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li class="active"><a href="#">DAILY LOG</a></li>
				<li><a href="battle.html">NUTRIENTS</a></li>
				<li><a href="users">USERS</a></li>		
			</ul>
		</div>
	</div>

<br>
<br>
<br>
<br>
<br>



</body>