<body style = "background: url(http://i.imgur.com/338zh3J.png) no-repeat center center fixed; width: 100%; height: auto; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
<form action="/admin" method="post" class="form-signin">

<br>
<br>
<br>
<br>
<br>


<h1 class="form-signin-heading" style="text-align: center; color:#ffffff;">LOG IN</h1>

<br>
<br>
<input type="text" class="form-control" placeholder="Username" name="username">
<br />
<br>
<input type="password" class="form-control" placeholder="Password" name="password">
<br>
<br>
<br />

<input type="submit" class="btn btn-lg btn-primary btn-block" value="Login"/>


</form>

</body>