<form action="/users/update/<%= users.id %>" method="POST" class="form-signin">
  <h2> Hey, you're editing a user... </h2>

  <input value="<%= users.full_name %>" name="full_name" type="text" class="form-control"/>
  <input value="<%= users.email %>" name="email" type="text" class="form-control"/>
  <input value="<%= users.password %>" name="password" type="text" class="form-control"/>
  <input type="submit" value="Proceed" href="/users/edit/<%= users.id %>" class="btn btn-lg btn-primary btn-block"/>
</form>