<body style = "background: url(http://i.imgur.com/NdmN3Gb.png) no-repeat center center fixed; width: 100%; height: auto; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
<div class='container'>
  <h3>Users</h3>
  <table class='table'>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
     </tr>
     <% _.each(users, function(user) { %>
     <tr data-id="<%= user.id %>" data-model="users">
       <td><%= user.id %></td>
       <td><%= user.full_name %></td>
       <td><%= user.email %></td>
       <td><a href="/users/show/<%= user.id %>" class="btn btn-sm btn-primary">Show</a></td>
       <td><a href="/users/edit/<%= user.id %>" class="btn btn-sm btn-primary btn-block">Edit</a></td>
       <td><form action="/users/destroy/<%= user.id %>" method="POST">
         <input type="hidden" name="_method" value="delete"/>
         <input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
       </form></td>
     </tr>
     <% }) %>
  </table>
</div>
</body>