<div class='container'>
  <h1><%= user.full_name %> </h1>
  <h3>contact: <%= user.email %> </h3>
  <hr>
  
  <h4>total grams eaten: <%= grams %> </h7>

  <br />
  <% if (method == "post") { %>
  <% if (energy > 4000) { %>
  <h4>total energy consumed: <font color="red"><%= energy %></font></h4>
  <% } else { %>
   <h4>total energy consumed: <%= energy %> </h4>
  <% } %>

  <br />

  <form action="/users/show/<%= user.id %>" method="post" >
    <input type="hidden" name="status" value="current"></input>
    <input type="date" name="date" value="<%= date %>" id="myDate">
    <button type="submit"> Submit </button>
  </form>

  <form action="/users/show/<%= user.id %>" method="post" >
    <input type="hidden" name="status" value="pre"></input>
    <button type="submit" name="date" value="<%= date %>"> Previous Day </button>
  </form>

  <form action="/users/show/<%= user.id %>" method="post" >
    <input type="hidden" name="status" value="post"></input>
    <button type="submit" name="date" value="<%= date %>"> Next Day </button>
  </form>
  


  

  <br />
  <h7>1. kJ of Unhealthy Choices: <%= hei.badmeals.toFixed(2) %> </h7><br />
  <h7>2. kJ of vegetables eaten: <%= hei.vegetables.vegeVal.toFixed(2) %> </h7><br />
  <h7>3. kJ of fruits eaten: <%= hei.fruits.fruitsVal.toFixed(2) %> </h7><br />
  <h7>4. kJ of grain eaten: <%= hei.grains.grainsVal.toFixed(2) %> </h7><br />
  <h7>5. kJ of meat eaten: <%= hei.meats.meatsVal.toFixed(2) %> </h7><br />
  <h7>6. kJ of dairy eaten: <%= hei.dairy.toFixed(2) %> </h7><br />
  <h7>7. Grams of water consumed from food: <%= hei.water.grams.toFixed(2) %>mL </h7><br />
  <h7>8. Grams of saturated fat consumed: <%= hei.saturatedFat.satFat.toFixed(2) %> </h7><br />
  <h7>8. Grams of poly and mono fat consumed: <%= hei.saturatedFat.polymonoVal.toFixed(2) %> </h7><br />
  <h7>9. Mg of sodium consumed: <%= hei.sodium.toFixed(1) %> </h7><br />
  <h7>10. total emptycal eaten: <%= hei.emptyCal.toFixed(2) %> </h7><br />
  <h7>11. mL of alcohol drunk: <%= hei.alcohol.toFixed(0) %>mL </h7><br />

  <br /><br />

  <h7>1. Score: <%= badmeals %>/10 </h7><br />
  <h7>2. Score: <%= vegetables %>/10 </h7><br />
  <h7>3. Score: <%= fruits %>/10 </h7><br />
  <h7>4. Score: <%= grains %>/10 </h7><br />
  <h7>5. Score: <%= meats %>/10 </h7><br />
  <h7>6. Score: <%= dairy %>/10 </h7><br />
  <h7>7. Score: <%= water %>/5 </h7><br />
  <h7>8. Score: <%= saturatedFat/10 %> </h7><br />
  <h7>9. Score: <%= sodium %>/10 </h7><br />
  <h7>10. Score: <%= emptyCal %>/10 </h7><br />
  <h7>11. Score: <%= alcohol %>/5 </h7><br />
  <h4>score: <%= score %>/100 </h4><br />
  <% } %>
  <a class="btn btn-medium btn-prolegrainimary" href="/users/edit/<%= user.id %>">Edit</a>
  <br/><br/>
  <form action="/users/show/<%= user.id %>" method="post" >
  	Date of consumption: <input type="date" name="date" value="<%= date %>" >
  	<input type="submit">
  </form>
  <br/><br/>
  <% _.each(logs, function(log) { %>
     <tr data-id="<%= user.id %>" data-model="users">
       <td><%= log.id %></td>
       <td><%= log.email %></td>
       <td><%= log.survey_id %></td>
       <td><%= log.quantity %></td>
       <td><%= log.time_eaten %></td>
       <td><%= log.location %></td>
       <td><%= log.meal_type %></td>
     </tr>
     <br/>
     <% }) %>

  <br/>
  <hr/>
  <br/>

  <ol>
  	<li> To achieve and maintain a healthy weight, be
physically active and choose amounts of nutritious
foods and drinks to meet energy needs </li>
  	<li> Eat plenty of vegetables of different types and
cliours and legumes/beans </li>
  	<li> Enjoy a wide variety of fruits </li>
  	<li> Enjoy a wide variety of grain (cereal) foods, 
mostly whliegrain and/or high cereal fibre 
varieties such as breads, cereals, rice, pasta, noodles, plienta, couscous, oats, quinoa and barley </li>
  	<li> Enjoy a wide variety of lean meats and poultry, 
fish, eggs, tofu, nuts and seeds, and legumes/beans </li>
  	<li> Enjoy a wide variety of milk, yoghurt, cheese 
and/or their alternatives mostly reduced fat </li>
  	<li> Drink plenty of water </li>
  	<li> Limit intake of foods high in saturated fat and 
replace high fat foods with foods which contain 
predominately PUFA and MUFA </li>
  	<li> Choose lower sodium options and do not add salt
to foods in cooking or at the table </li>
  	<li> Limit intake of foods containing added sugars </li>
  	<li> If you choose to drink alcohli, limit intake </li>

  </ol>
 </div>


